</main>
<br>
<br/>
<style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
    }
    .footer {
      background-color: #000;
      color: #fff;
      padding: 20px;
      text-align: center;
      font-size: 14px;
    }
    .footer a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
    }
    .footer a:hover {
      text-decoration: underline;
    }
  </style>
<footer class="footer">
            
            <div class="padding:30px;">
                <div class="row" align="center">
                <hr/>
            <br/>
                    <div class="col">
                        <h3>Organizor</h3>
                        <ul>
                            <a href="https://www.uni-stuttgart.de/en/" target="_blank">
                            <img type="image" src="assets/Uni_Stuttgart_logo.png" alt="" style="width: 30%;"></a>
                        </ul>
                    </div>
                        <div class="col">
                        <h3>Contact</h3>
                            <p><b></b><font size = "3" align="center">icsob2025@gmail.com</font></b></p>
                            <p><b></b><font size = "3" align="center">dimitri.petrik@bwi.uni-stuttgart.de</font></b></p>
                    </div>
                   </div>
            <p><b></b><center><font size = "3" align="center">The 16th International Conference on Software Business (ICSOB 2025)</font></center></b></p>
            <p><b></b><center><font size = "3" align="center">NOVEMBER 24-26, 2025, University of Stuttgart, Germany</font></center></b></p>
                <a href="/legalnotice/legalnotice.html">Legal Notice</a>
                <div id="back-to-top" class="scroll-arrow" align="right">
            <button class="btn btn-dark" title="Back to Top" style="display: block;">
               <a href="#back-to-top">
              <div class="fa fa-angle-up" style="color: #ffffff;"></div>
              
            </a>
            </button>
        </div>
 </div>

</footer>



</body>

</html>
