<nav class="navbar navbar-expand-md navbar-light mb-3" style="background-color:#edebeb;">
  <div class="container d-flex justify-content-between align-items-center">


    <!-- Mobile toggle -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {% for link in site.conference.navigation.links %}
        {% if link.menu %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ forloop.index }}"
             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ link.name }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown{{ forloop.index }}">
            {% assign parent = link %}
            {% for item in parent.menu %}
            <a class="dropdown-item" href="{{ item.relative_url | relative_url }}">
              {{ item.name }}
            </a>
            {% endfor %}
          </div>
        </li>
        {% else %}
        <li class="nav-item {% if page.url == link.relative_url %}active{% endif %}">
          <a class="nav-link" href="{{ link.relative_url | relative_url }}">
            {{ link.name }}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

  </div>
</nav>
